extends layout

block head
  link(href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css', rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.14.1/css/ui.jqgrid.min.css', rel='stylesheet')

block content
  table#grid
  div#pager

block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.14.1/jquery.jqgrid.min.js')
  script(src='/js/sample.js')